fastapi
uvicorn[standard]
python-multipart
python-dotenv
requests
langchain
langchain-community
langchain-core
huggingface_hub
rank_bm25
duckduckgo-search
pandas
openpyxl
pypdf
sentence-transformers
chromadb
helium
selenium
pillow
supabase
litellm
python-jose[cryptography]
