requests
langchain
langchain-community
langchain-openai
langchain-core
huggingface_hub
rank_bm25
duckduckgo-search
langgraph
python-multipart
python-dotenv
pandas
openpyxl
pypdf
sentence-transformers
chromadb
ddg
fastapi
uvicorn[standard]
flask
flask-cors
ddgs
smolagents
helium
selenium
pillow
supabase
vecs
litellm
